{% extends 'base.html'%}
{% block title %}ModernMom Scoop{% endblock %}
{% block meta_og %}
        <meta property="og:url" content="http://www.modernmom.com{% url 'scoop_home' %}">
        <meta property="og:description" content="">
        <meta property="og:type" content="website">
        <meta property="og:title" content="ModernMom Scoop">
        <meta property="og:image" content="">
{% endblock %}
{% block content %}


{% for scoop in scoop_list %}
{{ scoop }} {% if user.is_staff %}<a href="{% url 'scoop_add_item' scoop.slug %}">Add Item</a>{% endif %}
<ul>
{% for scoopitem in scoop.items.all %}

	<li><a href="{{ scoopitem.object.get_absolute_url }}">{{ scoopitem }}</a></li>

{% endfor %}
</ul>
{% endfor %}
{% endblock %}
