{% extends 'cissonius/giftguides/base.html' %}
{% block title %}{{ giftguide }}{% endblock %}
{% block meta %}
<meta property="og:title" content="{{ giftguide }}" />
<meta property="og:image" content="http://www.modernmom.com{{ giftguide.image.get_375X_url }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.modernmom.com{{ giftguide.get_absolute_url }}" />
<meta property="og:site_name" content="ModernMom" />
<meta property="fb:app_id" content="191747667578507" />
<meta name="description" content="{{ giftguide.description }}" />
<meta name="keywords" content="" />
{% endblock %}
{% block head %}
<link href="{{ MEDIA_URL }}css/giftguide.css" media="all" rel="stylesheet" type="text/css" />
<style type="text/css">
    .carousel-image {
        max-height: 300px;
        min-height: 300px;
        margin: 0 auto;
    }
    
    .carousel-caption > h4 {
        text-align: center;
    }
    
    #giftguide_item_show {
        padding: 20px 0px;
    }
    
    .desc {
        max-height: 110px;
        overflow: hidden;
    }
</style>{% endblock %} 
{% block container %} 
<div id="fb-root">
</div>
<script>
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) 
            return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=191747667578507";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
{{ block.super }}
{% if giftguide.giftguidetitlebanner_set.count > 0 %}
<div class="row">
    <div class="span12">
        {% for ggtb in giftguide.giftguidetitlebanner_set.all|slice:'1' %}<img src="{{ ggtb.get_1200X_url }}">{% endfor %}
    </div>
</div> {% endif %}
<nav id="navigation">
    <div class="col-width">
        <ul class="clearfix visible-desktop">
            <li>
                <div class="fb-share-button" data-href="http://www.modernmom.com/giftguides/modernmom-2013-holiday-gift-guide/" data-type="button_count">
                </div>
            </li>
            <li>
                <a href="{{ giftguide.get_absolute_url }}">All</a>
            </li>
            {% for filter in filters %}
            <li>
                <a href="{{ giftguide.get_absolute_url }}?for={{ filter.slug }}">{{ filter|capfirst }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>
<div class="row center" id="giftguide_home">
    <div class="span12">
        <div class="projects">
            {% for ggp in giftguideproducts %}
					
            <div class="project-container">
                <div class="project-shot">
                    <!--a href="{{ ggp.get_slideshow_url }}"><img src="{{ ggp.product.image.get_232X202_url }}" /></a--><a href="{% url 'giftguide_product_detail' giftguide.slug ggp.id %}"><img src="{{ ggp.product.image.get_232X202_url }}" /></a>
                </div>
                <div class="project-description">
                    <div class="name">
                        {{ ggp.product }}
                    </div>
                    <div class="desc">
                        {{ ggp.product.description }}
                    </div>
                    <div class="actions">
                        <!--a class="btn btn-mini btn-inverse" href="{{ ggp.get_slideshow_url }}">View</a--><!--a class="btn btn-mini btn-inverse" href="{{ ggp.get_absolute_url }}">View</a--><a class="btn btn-mini btn-inverse" data-toggle="modal" href="#product{{ggp.product.uuid}}">View</a>
                    </div>
                </div>
                <!--div class="project-stats">
                <span class="views"><a href="#" rel="tooltip" title="Project views" class="tip"><i class="icon-eye-open"></i></a>15</span>
                <span class="likes"><a href="#" rel="tooltip" title="Project likes" class="tip"><i class="icon-heart"></i></a>14</span>
                </div-->
            </div>
            <div id="product{{ggp.product.uuid}}" class="modal hide" style="display: none; ">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>
                    <h3>{{ ggp.product }}</h3>
                </div>
                <div class="modal-body">
                    <div class="shot">
                        <img src="{{ ggp.get_image.get_375X_url }}" />
                    </div>
                    <p>
                        {{ ggp.get_description|safe }}
                        {% if product.product.productcost %} {{ product.product.productcost }}{% endif %}
                       
                    </p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-pinterest" href="//www.pinterest.com/pin/create/button/?url={{ 'http://www.modernmom.com'|add:ggp.product.get_absolute_url|urlencode }}&media={{ 'http://www.modernmom.com'|add:ggp.get_image.get_375X_url|urlencode }}&description={{ ggp|urlencode }}"><i class="icon-pinterest"></i>| Share On Pinterest</a>
                    <a class="btn btn-facebook" href="https://www.facebook.com/dialog/feed?app_id=191747667578507&display=popup&caption={{ ggp|urlencode }}&link={{ 'http://www.modernmom.com'|add:ggp.product.get_absolute_url|urlencode }}&picture={{ 'http://www.modernmom.com'|add:ggp.get_image.get_370X250_url|urlencode }}&description={{ ggp.get_description|striptags|urlencode }}&redirect_uri={{ 'http://www.modernmom.com'|add:giftguide.get_absolute_url }}"><i class="icon-facebook"></i>| Share On Facebook</a>
										 {% for link in ggp.product.productlink_set.all %}
										  <a href="{{ link.url }}" target="_blank" class="btn">Details</a>
                        {% endfor %}
                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                </div>
            </div>
            {% endfor %}
					
			<a data-pin-do="embedPin" href="http://www.pinterest.com/pin/224476362650671050/"></a>
				
        </div>
    </div>
</div>
<div id="giftguide_item_show" class="row" style="display:none;">
    <div class="span5">
        <div id="myCarousel" class="carousel slide" data-interval="">
            <div class="carousel-inner">
                {% for ggp in giftguide.giftguideproduct_set.all %}
                <div class="item{% if forloop.counter0 == 0 %} active{% endif %}">
                    <img src="{{ MEDIA_URL }}{{ ggp.product.image.image }}" alt="" class="carousel-image">
                    <div class="carousel-caption">
                        <h4>{{ ggp.product }}</h4>
                    </div>
                </div>
                {% endfor %}
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
        </div>
    </div>
    <div id="" class="span3">
        <div id="myCarouselText" class="carousel slide" data-interval="">
            <div class="carousel-inner">
                {% for ggp in giftguide.giftguideproduct_set.all %}
                <div class="item{% if forloop.counter0 == 0 %} active{% endif %}">
                    <p>
                        {{ ggp.product.description }}
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>
{% endblock %}