{% extends 'cissonius/giftguides/base.html' %}
{% block title %}{{ giftguide }}{% endblock %}
{% block meta %}
<meta property="og:title" content="{{ giftguide }}" />
{% if not giftguide.image %}
<meta property="og:image" content="http://musthave.modernmom.com{{ MEDIA_URL }}images/MH_GiftGuides_300x250.jpg" />
{% else %}
<meta property="og:image" content="http://musthave.modernmom.com{{ giftguide.image.get_300X250_url }}" />
{% endif %}
<meta property="og:type" content="website" />
<meta property="og:url" content="http://musthave.modernmom.com{{ giftguide.get_absolute_url }}" />
<meta property="og:site_name" content="Must Have" />
<meta property="fb:app_id" content="208027353668" />
<meta property="fb:admins" content="622302511" />
<meta name="description" content="{{ giftguide.description }}" />
<meta name="keywords" content="" />
{% endblock %}
{% block head %}
<link href="{{ MEDIA_URL }}css/giftguide.css" media="all" rel="stylesheet" type="text/css" />
<style type="text/css">
    .carousel-image {
        max-height: 300px;
        min-height: 300px;
        margin: 0 auto;
    }
    
    .carousel-caption > h4 {
        text-align: center;
    }
    
    #giftguide_item_show {
        padding: 20px 0px;
    }
</style>{% endblock %}
{% block container %} {{ block.super }}
	{% if giftguide.giftguidetitlebanner_set.count > 0 %}
<div class="row">
	
    <div class="span12">
    
			{% for ggtb in giftguide.giftguidetitlebanner_set.all|slice:'1' %}
        <img src="{{ ggtb.get_1200X_url }}">
				{% endfor %}
			
		
    </div>
</div>
	{% endif %}
<nav id="navigation">
<div class="col-width">
    <ul class="clearfix visible-desktop">
        <!--li>
            <a href="#">Men</a>
        </li>
				<li>
            <a href="#">Women</a>
        </li>
				<li>
            <a href="#">Boys</a>
        </li>
				<li>
            <a href="#">Girls</a>
        </li-->
    </ul>
</div>
</nav>
<div class="row center" id="giftguide_home">
    <div class="span12">
        <div class="projects">
            {% for ggp in giftguide.giftguideproduct_set.all %}
            <div class="project-container">
                <div class="project-shot">
                    <a href="{{ ggp.get_slideshow_url }}"><img src="{{ ggp.product.image.get_232X202_url }}" /></a>
                </div>
                <div class="project-description">
                    <div class="name">
                        {{ ggp.product }}
                    </div>
                    <div class="desc">
                        {{ ggp.product.description }}
                    </div>
                    <div class="actions">
                        <a class="btn btn-mini btn-inverse" href="{{ ggp.get_slideshow_url }}">View</a>
                    </div>
                </div>
                <div class="project-stats">
                    <span class="views"><a href="#" rel="tooltip" title="Project views" class="tip"><i class="icon-eye-open"></i></a>15</span>
                    <span class="likes"><a href="#" rel="tooltip" title="Project likes" class="tip"><i class="icon-heart"></i></a>14</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div id="giftguide_item_show" class="row" style="display:none;">
    <div class="span5">
        <div id="myCarousel" class="carousel slide" data-interval="">
            <div class="carousel-inner">
                {% for ggp in giftguide.giftguideproduct_set.all %}
                <div class="item{% if forloop.counter0 == 0 %} active{% endif %}">
                    <img src="{{ MEDIA_URL }}{{ ggp.product.image.image }}" alt="" class="carousel-image">
                    <div class="carousel-caption">
                        <h4>{{ ggp.product }}</h4>
                    </div>
                </div>
                {% endfor %}
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
        </div>
    </div>
    <div id="" class="span3">
        <div id="myCarouselText" class="carousel slide" data-interval="">
            <div class="carousel-inner">
                {% for ggp in giftguide.giftguideproduct_set.all %}
                <div class="item{% if forloop.counter0 == 0 %} active{% endif %}">
                    <p>
                        {{ ggp.product.description }}
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        $(window).hashchange(hashchanged);
        hashchanged();
    });
    
    function hashchanged(){
        console.log(location.hash);
        
        var url = document.location.toString();
        if (url.match('#')) {
            // Clear active item
            $('.carousel-inner div').removeClass('active');
            
            // Activate item number #hash
            var index = url.split('#')[1];
            $('.carousel-inner div:nth-child(' + index + ')').addClass('active');
            $('#myCarousel').carousel(index - 1);
            $('#myCarouselText').carousel(index - 1);
            
            $('#giftguide_home').hide()
            $('#giftguide_item_show').show()
        }
    }
    
    if (window.location.hash) {
        $('#giftguide_home').hide()
        $('#giftguide_item_show').show()
    }
    else {
        $('#giftguide_home').show()
        $('#giftguide_item_show').hide()
    }
    var url = document.location.toString();
    if (url.match('#')) {
        // Clear active item
        $('.carousel-inner div').removeClass('active');
        
        // Activate item number #hash
        var index = url.split('#')[1];
        $('.carousel-inner div:nth-child(' + index + ')').addClass('active');
    }
    
    $('#myCarousel').bind('slid', function(e){
        // Update location based on slide (index is 0-based)
        var item = $('#myCarousel .carousel-inner .item.active');
        window.location.hash = "#" + parseInt(item.index() + 1);
    })
</script>
<script type="text/javascript" src="/static/js/jquery.ba-hashchange.js">
</script>
{% endblock %}
{% block lower_js %}
{% endblock %}
