{% extends 'bootstrapbase.html' %}
{% block title %}Gift Ideas and Suggestions{% endblock %}
{% block head %}
<link href="{{ MEDIA_URL }}css/giftguide.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}
{% block container %}
<div class="row center">
    <div class="span12">
        <div class="projects">
            {% for gg in giftguides %}
            <div class="project-container">
                <div class="project-shot">
                    <a href="{{ gg.get_absolute_url }}"><img src="{{ gg.image.get_232X202_url }}" /></a>
                </div>
                <div class="project-description">
                    <div class="name">
                        {{ gg }}
                    </div>
                    <!--div class="desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean neque nulla, ultricies id eleifend non, dignissim vitae nunc. Morbi fringilla blandit urna nec blandit. 
                    </div-->
                    <div class="actions">
                        <a class="btn btn-mini btn-inverse" href="{{ gg.get_absolute_url }}">{{ gg }}</a>
                    </div>
                </div>
                <!--div class="project-stats">
                    <span class="views"><a href="#" rel="tooltip" title="Project views" class="tip"><i class="icon-eye-open"></i></a>15</span>
                    <span class="likes"><a href="#" rel="tooltip" title="Project likes" class="tip"><i class="icon-heart"></i></a>14</span>
                </div-->
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}