{% extends 'bootstrapbase.html' %}
{% block container %}

<div class="row">
	<div class="span6">
<form method="POST" action="">
	{% csrf_token %}
	 {% for product in products %}
    <div class="row">
        <div class="span1">
            <input type="checkbox" name="product_id" value="{{ product.uuid }}">
        </div>
        <div class="span2">
            <img src="{{ product.image.get_thumbnail_url }}">
        </div>
        <div class="span3">
            <p>{{ product.description }}</p>
			<p><a href="{% url product_detail_edit product.uuid %}" target="_blank"><i class='icon-edit'></i>Edit Product</a></p>
        </div>
    </div>
	

    {% endfor %}
</div>
<button type="submit">Add Products</a>
</form>
</div>
<div class="span6">
	<h3>Add new product</h3>
	<form method="post" action="" enctype="multipart/form-data">
		{% csrf_token %}
		{{ product_image_form }}
		{{ product_form }}
		</form>
	</div>
</div>

{% endblock %}