{% extends 'bootstrapbase.html' %}
{% block title %}{{ contest.name }}{% endblock %}
{% block meta %}
<meta property="og:title" content="{{ contest.name }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://contests.modernmom.com{% url contest_detail contest.url %}" />
<meta property="og:description" content="{{ contest.contestdescription.content }}" />
<meta property="og:image" content="http://contests.modernmom.com{{ contest.contestimage.get_470X233_url }}" />
<meta property="og:site_name" content="Modernom" />
<meta property="fb:app_id" content="208027353668" />
<meta property="fb:admins" content="622302511" />
<!--5c16a29a-84e7-11e2-ae07-bc764e047f7a --> {% endblock %}
{% block head %}

{% endblock %}
{% block container %}
<div class="container">
    <div class="row">
    	<h1>{{ contest.name }}</h1>
		<p>{{ contest.contestdescription }}</p>
		<img src="{{ contest.contestimage.get_300X350_url }}" />

                
                <form name="form_{{contest.guid }}" id="form_{{contest.guid }}" class="form-horizontal" method="post" action="{% url 'contest_detail' contest.url %}">
                    {% csrf_token %}
                    {% if 'reached_total_max' in request.GET  %}
                    <div class="control-group">
                        <div class="controls span3">
                            <p class="help-block">
                                You have reached your maximum entries for this contest.
                            </p>
                        </div>
                    </div>
                    {% endif %}
                    {% if 'reached_daily_max' in request.GET  %}
                    <div class="control-group">
                        <div class="controls span3">
                            <p class="help-block">
                                You have reached your maximum entires for this contest today.
                            </p>
                        </div>
                    </div>
                    {% endif %}
                    {% if 'entry_success' in request.GET %}
                    <div class="control-group">
                        <div class="controls span3">
                            <p class="help-block">
                                Your entry was successfully entered.
                            </p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="control-group">
                        <!-- Text input-->
                        <label class="control-label" for="input01">
                        </label>
                        <div class="controls">
                            <input type="text" name="{{ contest.guid }}full_name" placeholder="Full Name" class="input-xlarge">
                            <p class="help-block">
                            </p>
                        </div>
                    </div>
                     <div class="control-group">
                        <!-- Text input-->
                        <label class="control-label" for="input01">
                        </label>
                        <div class="controls">
                            <input type="text" name="{{ contest.guid }}user-height-parameter" placeholder="Full Name" class="input-xlarge">
                            <p class="help-block">
                            </p>
                        </div>
                    </div>
                    
                    <div class="control-group">
                        <!-- Text input-->
                        <label class="control-label" for="input01">
                        </label>
                        <div class="controls">
                            <input type="text" name='email' placeholder="Email Address" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                        </label>
                        <!-- Button -->
                        <div class="controls">
                            <button class="btn btn-primary" type="submit">
                                Enter Now
                            </button>
                        </div>
                    </div>
                </form>

    </div>
    <!-- /row -->
</div>
<!-- /container -->
        {% endblock %}
        {% block footer_scripts %}

<script>
$("#form_{{contest.guid }}").submit(function(event) {
	event.preventDefault();
    var dataString = $("#form_{{contest.guid}}").serialize();
	alert(dataString);
    $.ajax({
        type: "POST",
        url: "{% url contest_detail contest.url %}",
        data: dataString,
        success: function(html) {
            alert(html);
        }
    });
});</script>
{% endblock %}
