{% extends 'base.html' %}
{% block body_id %}article-template{% endblock %}
{% block body_class %}Article Topic-View{% endblock %}
{% block title %}Online Contests{% endblock %}
{% block head_canonical %}
<link rel="canonical" href="{% url 'contests_home' %}">
{% endblock %}
{% block content %}
<div class="big-title">
    <div id="title">
        <h1>Contests</h1>
    </div>
</div>
<div id="editors" class="clearfix">
    {% for contest in contests %}
    <div id="article-1" class="article clearfix">
        {% if contest.contestimage %}
				<a href="{{ contest.get_absolute_url }}">
					<img src="{{ contest.contestimage.get_180X180_url }}" data-src="/" alt="" width="170" height="113">
					</a> {% endif %}
					<h3><a href="{{ contest.get_absolute_url }}">{{ contest }}</a></h3>
        <p>
            {{ contest.contestdescription|striptags }}
        </p>
    </div>
    {% endfor %}

</div>
    {% endblock %}