{% extends "registration/base.html" %}

{% block head %}{% endblock %}
{% block hero %}
 <h1>Welcome to ModernMom!</h1>  
        <p>As you may have noticed, we are making some changes around here to make improve your experience on our website.</p>
		
{% endblock %}



{% block form %}
{% if form.errors %}
{{ form.errors }}
{% endif %}
  <form action="{% url 'register' %}" method="post" class="well form-inline">{% csrf_token %}
    {{ form.as_p }}
	<p class="submit"><button type="submit" name="submit" value="Regsiter">Create Account</button></p>
	{% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
  </form>
{% endblock %}
