{% extends 'base.html' %}
{% load subdomainurls %}
{% block head %}

{% endblock %}

{% block container %}
        <div class="hero-unit">
        <h1>Welcome to ModernMom!</h1>
        <p>As you may have noticed, we are making some changes around here to make improve your experience on our website.  If you landed here, you may have been asked to test drive some of our new features, and we really appreciate your patience and cooperation.</p>
				<h2>So whats new with ModernMom?</h2>
					<p>Great question, and the answer is a lot.  Below are some of the new features that we have launched, and we would love for you to test drive them and give us some feedback.</p>
					
				
      </div>

{% endblock %}

