<!DOCTYPE html>
<!--[if lt IE 7]> <html dir="ltr" lang="en-US" class="no-js lt-ie9 lt-ie8 lt-ie7" > <![endif]-->
<!--[if IE 7]>    <html dir="ltr" lang="en-US" class="no-js ie7 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html dir="ltr" lang="en-US" class="no-js ie8 lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->

<html dir="ltr" lang="en-US" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">

    <title>Pinfinity Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic|Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="stylesheet" href="colors/default.css" type="text/css">
    <link rel="stylesheet" href="js/fancybox/source/jquery.fancybox.css" type="text/css">
    <script src="js/modernizr.js" type="text/javascript">
</script>
</head>

<body>
    <header id="header">
        <div class="pre-head show-on-mobile">
            <div class="wrap group">
                <div class="pre-head-wgt group">
                    <aside class="widget group widget_ci_social_widget"><a href="#" class="icn twitter">Twitter</a> <a href="#" class="icn facebook">Facebook</a> <a href="#" class="icn pinterest">Pinterest</a> <a href="#" class="icn youtube">Youtube</a></aside>

                    <aside class="widget widget_search group">
                        <form action="/" id="searchform2" class="searchform" method="get" role="search">
                            <input size="27" type="text" title="Search" id="s2" class="s" name="s"> <a id="searchsubmit2" class="searchsubmit"><img src="images/search.png" alt="GO"></a>
                        </form>
                    </aside>
                </div><!-- .header-wgt -->
            </div>
        </div><!-- .pre-head -->

        <div id="site-head">
            <div class="wrap group">
                <hgroup class="logo">
                    <h1><a href="index.html"><img src="images/dummy/logo.png" alt=""></a></h1>
                </hgroup>

                <div class="header-wgt group">
                    <aside class="widget group widget_ci_social_widget"><a href="#" class="icn twitter">Twitter</a> <a href="#" class="icn facebook">Facebook</a> <a href="#" class="icn pinterest">Pinterest</a> <a href="#" class="icn youtube">Youtube</a></aside>

                    <aside class="widget widget_search group">
                        <form action="/" id="searchform1" class="searchform" method="get" role="search">
                            <input size="27" type="text" title="Search" id="s1" class="s" name="s"> <a id="searchsubmit1" class="searchsubmit"><img src="images/search.png" alt="GO"></a>
                        </form>
                    </aside>
                </div><!-- .header-wgt -->
            </div><!-- .wrap < #header -->
        </div><!-- #site-head -->

        <nav>
            <div class="wrap group">
                <ul id="navigation" class="group">
                    <li class="current_page_item"><a href="index.html">Home</a></li>

                    <li><a href="page.html">Page Template</a></li>

                    <li><a href="page-double.html">Double Width Page</a></li>

                    <li>
                        <a href="#">Post Formats</a>

                        <ul>
                            <li><a href="format-standard.html">Standard Format</a></li>

                            <li><a href="format-image.html">Image Format</a></li>

                            <li><a href="format-gallery.html">Gallery Format</a></li>

                            <li><a href="format-video.html">Video Format</a></li>

                            <li><a href="format-audio.html">Audio Format</a></li>

                            <li><a href="format-quote.html">Quote Format</a></li>
                        </ul>
                    </li>

                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div><!-- .wrap < nav -->
        </nav>
    </header>

    <div id="page">
        <section id="main">
            <div class="wrap group">
                <div id="box-container">
                    <div id="entry-listing" class="group">
                        <article id="post-53" class="post-53 category-videos entry box format-video">
                            <div class="entry-content-cnt">
                                <div class="entry-content">
                                    <iframe src="http://player.vimeo.com/video/45523017" width="516" height="290"></iframe>
                                </div>
                            </div>

                            <div class="entry-desc">
                                <h1><a href="#" title="Permalink to The Championships at Wimbledon">The Championships at Wimbledon</a></h1>

                                <div class="entry-meta group">
                                    <a class="comments-no" href="#">0</a> <a data-post-id="53" class="heart-this" href="#" title="Love this."><span class="heart-no">1</span></a> <a class="entry-permalink" href="#" title="Permalink to The Championships at Wimbledon">The Championships at Wimbledon</a>
                                </div>
                            </div>
                        </article>

                        <article id="post-50" class="post-50 category-various entry box format-image">
                            <div class="entry-content-cnt">
                                <div class="entry-content">
                                    <a href="images/dummy/stereo_iphone.jpg" class="thumb" data-lightbox="fancybox[50]" title=""><img src="images/dummy/stereo_iphone.jpg" class="attachment-ci_listing_thumb" alt="stereo_iphone" title="stereo_iphone"></a>
                                </div>
                            </div>

                            <div class="entry-desc">
                                <h1><a href="#" title="Permalink to Check out this awesome theme.">Check out this awesome theme.</a></h1>

                                <div class="entry-meta group">
                                    <a class="comments-no" href="#">0</a> <a data-post-id="50" class="heart-this" href="#" title="Love this."><span class="heart-no">5</span></a> <a class="entry-permalink" href="#" title="Permalink to Check out this awesome theme.">Check out this awesome theme.</a>
                                </div>
                            </div>
                        </article>

                        <article id="post-47" class="post-47 category-photography category-pretty-girls entry box format-image">
                            <div class="entry-content-cnt">
                                <div class="entry-content">
                                    <a href="images/dummy/sunglas-693x1024.jpg" class="thumb" data-lightbox="fancybox[47]" title=""><img src="images/dummy/sunglas-500x738.jpg" class="attachment-ci_listing_thumb" alt="sunglas" title="sunglas"></a>
                                </div>
                            </div>

                            <div class="entry-desc">
                                <h1><a href="#" title="Permalink to Just the best sunglasses.">Just the best sunglasses.</a></h1>

                                <div class="entry-meta group">
                                    <a class="comments-no" href="#">0</a> <a data-post-id="47" class="heart-this" href="#" title="Love this."><span class="heart-no">1</span></a> <a class="entry-permalink" href="#" title="Permalink to Just the best sunglasses.">Just the best sunglasses.</a>
                                </div>
                            </div>
                        </article>

                        <article id="post-44" class="post-44 category-photography entry box format-image">
                            <div class="entry-content-cnt">
                                <div class="entry-content">
                                    <a href="images/dummy/set1c1.jpg" class="thumb" data-lightbox="fancybox[44]" title=""><img src="images/dummy/set1c1-500x200.jpg" class="attachment-ci_listing_thumb" alt="set1c" title="set1c"></a>
                                </div>
                            </div>

                            <div class="entry-desc">
                                <h1><a href="#" title="Permalink to Hey little starfish!">Hey little starfish!</a></h1>

                                <div class="entry-meta group">
                                    <a class="comments-no" href="#">0</a> <a data-post-id="44" class="heart-this" href="#" title="Love this."><span class="heart-no">1</span></a> <a class="entry-permalink" href="#" title="Permalink to Hey little starfish!">Hey little starfish!</a>
                                </div>
                            </div>
                        </article>

                        <article id="post-41" class="post-41 category-blog-posts entry box format-image">
                            <div class="entry-content-cnt">
                                <div class="entry-content">
                                    <a href="images/dummy/p6a.png" class="thumb" data-lightbox="fancybox[41]" title=""><img src="images/dummy/p6a-500x723.png" class="attachment-ci_listing_thumb" alt="p6a" title="p6a"></a>
                                </div>
                            </div>

                            <div class="entry-desc">
                                <h1><a href="#" title="Permalink to Child memories.">Child memories.</a></h1>

                                <div class="entry-meta group">
                                    <a class="comments-no" href="#">0</a> <a data-post-id="41" class="heart-this" href="#" title="Love this."><span class="heart-no">2</span></a> <a class="entry-permalink" href="#" title="Permalink to Child memories.">Child memories.</a>
                                </div>
                            </div>
                        </article>

                        <article id="post-39" class="post-39 category-quotes entry box format-quote">
                            <div class="entry-content-cnt">
                                <div class="entry-content">
                                    <blockquote>
                                        <p>A diplomat is a man who always remembers a woman's birthday but never remembers her age.</p><cite><a href="#">Robert Frost</a></cite>
                                    </blockquote>
                                </div>
                            </div>

                            <div class="entry-desc">
                                <h1><a href="#" title="Permalink to Great quote indeed.">Great quote indeed.</a></h1>

                                <div class="entry-meta group">
                                    <a class="comments-no" href="#">0</a> <a data-post-id="39" class="heart-this" href="#" title="Love this."><span class="heart-no">3</span></a> <a class="entry-permalink" href="#" title="Permalink to Great quote indeed.">Great quote indeed.</a>
                                </div>
                            </div>
                        </article>

                        <article id="post-34" class="post-34 category-landscapes category-photography entry box format-gallery">
                            <div class="entry-content-cnt">
                                <div class="flexslider">
                                    <ul class="slides">
                                        <li><a href="images/dummy/set1c.jpg" data-lightbox="fancybox[34]" title=""><img width="333" height="180" src="images/dummy/set1c-500x270.jpg" alt="" title="set1c"></a></li>

                                        <li><a href="images/dummy/set1b.jpg" data-lightbox="fancybox[34]" title=""><img width="333" height="180" src="images/dummy/set1b-500x270.jpg" alt="" title="set1b"></a></li>

                                        <li><a href="images/dummy/set1a1.jpg" data-lightbox="fancybox[34]" title=""><img width="333" height="180" src="images/dummy/set1a1-500x270.jpg" alt="" title="set1a"></a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="entry-desc">
                                <h1><a href="#" title="Permalink to Photo gallery of my vacation.">Photo gallery of my vacation.</a></h1>

                                <div class="entry-meta group">
                                    <a class="comments-no" href="#">0</a> <a data-post-id="34" class="heart-this" href="#" title="Love this."><span class="heart-no">0</span></a> <a class="entry-permalink" href="#" title="Permalink to Photo gallery of my vacation.">Photo gallery of my vacation.</a>
                                </div>
                            </div>
                        </article>

                        <article id="post-30" class="post-30 category-music entry box format-audio">
                            <div class="entry-content-cnt">
                                <div class="entry-content">
                                    <a href="images/dummy/set4d-540x500.jpg" class="thumb" data-lightbox="fancybox[30]" title=""><img src="images/dummy/set4d-540x500-500x462.jpg" class="attachment-ci_listing_thumb" alt="set4d-540x500" title="set4d-540x500"></a>
                                </div>
                            </div>

                            <div class="entry-desc">
                                <h1><a href="#" title="Permalink to You have to listen to this album.">You have to listen to this album.</a></h1>

                                <div class="audio-wrap" data-audio-id="30" data-audio-file="demomp3/danosongs.com-sunspark.mp3">
                                    <div id="jp-30" class="jp-jplayer"></div>

                                    <div id="jp-play-30" class="jp-audio">
                                        <div class="jp-type-single">
                                            <div class="jp-gui jp-interface">
                                                <ul class="jp-controls">
                                                    <li><a href="#" class="jp-play" tabindex="1">Play</a></li>

                                                    <li><a href="#" class="jp-pause" tabindex="1">Pause</a></li>
                                                </ul>

                                                <div class="jp-progress">
                                                    <div class="jp-seek-bar">
                                                        <div class="jp-play-bar"></div>
                                                    </div>
                                                </div>

                                                <div class="jp-current-time"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .audio-wrap -->

                                <div class="entry-meta group">
                                    <a class="comments-no" href="#">0</a> <a data-post-id="30" class="heart-this loved" href="#" title="You love this."><span class="heart-no">5</span></a> <a class="entry-permalink" href="#" title="Permalink to You have to listen to this album.">You have to listen to this album.</a>
                                </div>
                            </div>
                        </article>

                        <article id="post-28" class="post-28 category-blog-posts entry box format-standard">
                            <div class="entry-content-cnt">
                                <div class="entry-content">
                                    <a href="#" title="Permalink to Just a plain blog post."></a>

                                    <p>The vehicle explodes, literally explodes, off the pad. The simulator shakes you a little bit, but the actual liftoff shakes your entire body and soul. The surface is fine and powdery. I can kick it up loosely with my toe. It does adhere in fine layers, like powdered charcoal, to[...]</p>
                                </div>
                            </div>

                            <div class="entry-desc">
                                <h1><a href="#" title="Permalink to Just a plain blog post.">Just a plain blog post.</a></h1>

                                <div class="entry-meta group">
                                    <a class="comments-no" href="#">0</a> <a data-post-id="28" class="heart-this" href="#" title="Love this."><span class="heart-no">1</span></a> <a class="entry-permalink" href="#" title="Permalink to Just a plain blog post.">Just a plain blog post.</a>
                                </div>
                            </div>
                        </article>

                        <article id="post-25" class="post-25 category-landscapes category-photography entry box format-image">
                            <div class="entry-content-cnt">
                                <div class="entry-content">
                                    <a href="images/dummy/set5c-540x500.jpg" class="thumb" data-lightbox="fancybox[25]" title=""><img src="images/dummy/set5c-540x500-500x462.jpg" class="attachment-ci_listing_thumb" alt="set5c-540x500" title="set5c-540x500"></a>
                                </div>
                            </div>

                            <div class="entry-desc">
                                <h1><a href="#" title="Permalink to Jaw dropping sunset">Jaw dropping sunset</a></h1>

                                <div class="entry-meta group">
                                    <a class="comments-no" href="#">0</a> <a data-post-id="25" class="heart-this loved" href="#" title="You love this."><span class="heart-no">2</span></a> <a class="entry-permalink" href="#" title="Permalink to Jaw dropping sunset">Jaw dropping sunset</a>
                                </div>
                            </div>
                        </article>

                        <article id="post-22" class="post-22 category-music entry box format-video">
                            <div class="entry-content-cnt">
                                <div class="entry-content">
                                    <iframe width="516" height="290" src="http://www.youtube.com/embed/z-6cCmxaGoQ?fs=1&amp;wmode=transparent&amp;feature=oembed"></iframe>
                                </div>
                            </div>

                            <div class="entry-desc">
                                <h1><a href="#" title="Permalink to Lana del rey.">Lana del rey.</a></h1>

                                <div class="entry-meta group">
                                    <a class="comments-no" href="#">0</a> <a data-post-id="22" class="heart-this" href="#" title="Love this."><span class="heart-no">0</span></a> <a class="entry-permalink" href="#" title="Permalink to Lana del rey.">Lana del rey.</a>
                                </div>
                            </div>
                        </article>

                        <article id="post-17" class="post-17 category-music category-photography category-pretty-girls entry box format-image">
                            <div class="entry-content-cnt">
                                <div class="entry-content">
                                    <a href="images/dummy/set3f-540x500.jpg" class="thumb" data-lightbox="fancybox[17]" title=""><img src="images/dummy/set3f-540x500.jpg" class="attachment-ci_listing_thumb" alt="set3f-540x500" title="set3f-540x500"></a>
                                </div>
                            </div>

                            <div class="entry-desc">
                                <h1><a href="#" title="Permalink to Beauty with headphones.">Beauty with headphones.</a></h1>

                                <div class="entry-meta group">
                                    <a class="comments-no" href="#">0</a> <a data-post-id="17" class="heart-this" href="#" title="Love this."><span class="heart-no">3</span></a> <a class="entry-permalink" href="#" title="Permalink to Beauty with headphones.">Beauty with headphones.</a>
                                </div>
                            </div>
                        </article>

                        <article id="post-12" class="post-12 category-landscapes category-photography entry box format-image">
                            <div class="entry-content-cnt">
                                <div class="entry-content">
                                    <a href="images/dummy/set1a.jpg" class="thumb" data-lightbox="fancybox[12]" title=""><img src="images/dummy/set1a-500x328.jpg" class="attachment-ci_listing_thumb" alt="set1a" title="set1a"></a>
                                </div>
                            </div>

                            <div class="entry-desc">
                                <h1><a href="#" title="Permalink to My awesome vacations!">My awesome vacations!</a></h1>

                                <div class="entry-meta group">
                                    <a class="comments-no" href="#">1</a> <a data-post-id="12" class="heart-this" href="#" title="Love this."><span class="heart-no">1</span></a> <a class="entry-permalink" href="#" title="Permalink to My awesome vacations!">My awesome vacations!</a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div><!-- .wrap < #main -->
        </section><!--  #main -->

        <footer id="footer">
            <div class="wrap group">
                <div class="footer-text">
                    <a href="#">Pinfinity</a> &mdash; A Pinterest like site template.
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
