<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Theme Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic|Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="stylesheet" href="colors/default.css" type="text/css">
    <link rel="stylesheet" href="js/fancybox/source/jquery.fancybox.css" type="text/css"><!--[if IE 7]><link rel="stylesheet" type="text/css" href="css/ie7.css" media="screen" /><![endif]-->

    <script src="js/modernizr.js" type="text/javascript">
</script>
</head>

<body class="alt">
    <header id="header">
        <div class="pre-head show-on-mobile">
            <div class="wrap group">
                <div class="pre-head-wgt group">
                    <aside class="widget group social-wgt"><a href="#" class="icn twitter">Twitter</a> <a href="#" class="icn facebook">Facebook</a> <a href="#" class="icn pinterest">Pinterest</a> <a href="#" class="icn youtube">Youtube</a></aside>

                    <aside class="widget widget_search group">
                        <form action="" id="searchform2" class="searchform" method="get" role="search">
                            <input size="27" type="text" title="Search" id="s2" class="s" name="s"> <a type="submit" id="searchsubmit2" class="searchsubmit"><img src="images/search.png" alt="GO"></a>
                        </form>
                    </aside>
                </div><!-- .header-wgt -->
            </div>
        </div><!-- .pre-head -->

        <div id="site-head">
            <div class="wrap group">
                <hgroup class="logo">
                    <h1><a href="#"><img src="images/dummy/logo.png" alt=""></a></h1>
                </hgroup>

                <div class="header-wgt group">
                    <aside class="widget group social-wgt"><a href="#" class="icn twitter">Twitter</a> <a href="#" class="icn facebook">Facebook</a> <a href="#" class="icn pinterest">Pinterest</a> <a href="#" class="icn youtube">Youtube</a></aside>

                    <aside class="widget widget_search group">
                        <form action="" id="searchform1" class="searchform" method="get" role="search">
                            <input size="27" type="text" title="Search" id="s1" class="s" name="s"> <a type="submit" id="searchsubmit1" class="searchsubmit"><img src="images/search.png" alt="GO"></a>
                        </form>
                    </aside>
                </div><!-- .header-wgt -->
            </div><!-- .wrap < #header -->
        </div><!-- #site-head -->

        <nav>
            <div class="wrap group">
                <ul id="navigation" class="group">
                    <li class="current_page_item"><a href="#">Home</a></li>

                    <li><a href="#">Categories</a></li>

                    <li><a href="#">Menu Type 1</a></li>

                    <li>
                        <a href="#">Menu Type 2</a>

                        <ul>
                            <li><a href="#">Sub Menu Item #1</a></li>

                            <li><a href="#">Sub Menu Item #2</a></li>

                            <li><a href="#">Sub Menu Item #3</a></li>

                            <li><a href="#">Sub Menu Item #4</a></li>

                            <li><a href="#">Sub Menu Item #5</a></li>

                            <li><a href="#">Sub Menu Item #6</a></li>
                        </ul>
                    </li>

                    <li><a href="#">Contact</a></li>
                </ul>
            </div><!-- .wrap < nav -->
        </nav>
    </header>

    <section id="main">
        <div class="wrap group">
            <div class="inner-container group">
                <div class="box-hold group">
                    <article class="entry box format-text">
                        <div class="entry-intro">
                            <h1>What a wonderful world</h1><span class="entry-meta">Posted by <strong>vmasto</strong>, at <time datetime>July 7th, 2012</time></span> <a class="single-heart-this" href="#" title="Love this."> <span class="heart-no">16</span></a>
                        </div><!-- .entry-intro -->

                        <figure class="entry-image"><a href="images/dummy/img.jpg" rel="fancybox"><img src="images/dummy/img.jpg" alt=""></a></figure>

                        <div class="entry-content">
                            <p>First, I believe that this nation should commit itself to achieving the goal, before this decade is out, of landing a man on the moon and returning him safely to the earth. No single space project in this period will be more impressive to mankind, or more important for the long-range exploration of space; and none will be so difficult or expensive to accomplish.</p>

                            <h2>This is an H2 title</h2>

                            <p>First, I believe that this nation should commit itself to achieving the goal, before this decade is out, of landing a man on the moon and returning him safely to the earth. No single space project in this period will be more impressive to mankind, or more important for the long-range exploration of space; and none will be so difficult or expensive to accomplish.</p>

                            <p>First, I believe that this nation should commit itself to achieving the goal, before this decade is out, of landing a man on the moon and returning him safely to the earth. No single space project in this period will be more impressive to mankind, or more important for the long-range exploration of space; and none will be so difficult or expensive to accomplish.</p>

                            <h3>This is an H3 title</h3>

                            <p>First, I believe that this nation should commit itself to achieving the goal, before this decade is out, of landing a man on the moon and returning him safely to the earth. No single space project in this period will be more impressive to mankind, or more important for the long-range exploration of space; and none will be so difficult or expensive to accomplish.</p>

                            <blockquote>
                                <p>In order for something to become clean, something else must become dirty; but you can get everything dirty without getting anything clean.</p>
                            </blockquote>

                            <p>First, I believe that this nation should commit itself to achieving the goal, before this decade is out, of landing a man on the moon and returning him safely to the earth. No single space project in this period will be more impressive to mankind, or more important for the long-range exploration of space; and none will be so difficult or expensive to accomplish.</p>

                            <h4>This is an H4 title</h4>

                            <p>Our posturings, our imagined self-importance, the delusion that we have some privileged position in the Universe, are challenged by this point of pale light. Our planet is a lonely speck in the great enveloping cosmic dark. In our obscurity to save us.</p>
                        </div>

                        <div class="social-share"></div>
                    </article>
                </div><!-- .box-hold -->

                <div class="box-hold">
                    <div class="box comment-form">
                        <div class="box-content">
                            <h3>Post your comment</h3>

                            <form id="commentform" class="group" action="">
                                <fieldset class="group">
                                    <p><input type="text" title="Your Name"></p>

                                    <p><input type="text" title="Your E-mail"></p>
                                </fieldset>

                                <fieldset>
                                    <p>
                                    <textarea name="" id="" cols="30" rows="4" title="Your Comment"></textarea></p>
                                </fieldset><button type="submit">Submit</button>
                            </form>
                        </div>
                    </div>

                    <div class="box post-comments">
                        <div class="box-content">
                            <h3>42 Comments</h3>

                            <ol id="comment-list" class="group">
                                <li class="comment">
                                    <span class="comment-meta">Posted by <strong>vmasto</strong>, at <time datetime>July 7th, 2012</time> &mdash; <a class="comment-reply-link" href="#commentform">Reply</a></span>

                                    <div class="comment-text group">
                                        <img class="avatar" src="images/dummy/avatar.png" alt="">

                                        <div class="comment-copy">
                                            <p>First, I believe that this nation should commit itself to achieving the goal, before this decade is out, of landing a man on the moon and returning him safely to the earth. No single space project in this period will be more impressive to mankind, or more important for the long-range exploration.</p>
                                        </div>
                                    </div>
                                </li>

                                <li class="comment">
                                    <span class="comment-meta">Posted by <strong>vmasto</strong>, at <time datetime>July 7th, 2012</time> &mdash; <a class="comment-reply-link" href="#commentform">Reply</a></span>

                                    <div class="comment-text group">
                                        <img class="avatar" src="images/dummy/avatar.png" alt="">

                                        <div class="comment-copy">
                                            <p>First, I believe that this nation should commit itself to achieving the goal, before this decade is out, of landing a man on the moon and returning him safely to the earth. No single space project in this period will be more impressive to mankind, or more important for the long-range exploration.</p>
                                        </div>
                                    </div>
                                </li>

                                <li class="comment">
                                    <span class="comment-meta">Posted by <strong>vmasto</strong>, at <time datetime>July 7th, 2012</time> &mdash; <a class="comment-reply-link" href="#commentform">Reply</a></span>

                                    <div class="comment-text group">
                                        <img class="avatar" src="images/dummy/avatar.png" alt="">

                                        <div class="comment-copy">
                                            <p>First, I believe that this nation should commit itself to achieving the goal, before this decade is out, of landing a man on the moon and returning him safely to the earth. No single space project in this period will be more impressive to mankind, or more important for the long-range exploration.</p>
                                        </div>
                                    </div>
                                </li>

                                <li class="comment">
                                    <span class="comment-meta">Posted by <strong>vmasto</strong>, at <time datetime>July 7th, 2012</time> &mdash; <a class="comment-reply-link" href="#commentform">Reply</a></span>

                                    <div class="comment-text group">
                                        <img class="avatar" src="images/dummy/avatar.png" alt="">

                                        <div class="comment-copy">
                                            <p>First, I believe that this nation should commit itself to achieving the goal, before this decade is out, of landing a man on the moon and returning him safely to the earth. No single space project in this period will be more impressive to mankind, or more important for the long-range exploration.</p>
                                        </div>
                                    </div>
                                </li>
                            </ol><a class="load-more-comments" href="#">View 38 More Comments...</a>
                        </div>
                    </div>
                </div><!-- .box-hold -->
            </div><!-- .inner-container -->
        </div><!-- .wrap < #main -->
    </section><!--  #main -->

    <footer id="footer">
        <div class="wrap group">
            <div class="footer-text">
                <a href="#">CSSIgniter.com</a> &mdash; Premium WordPress Themes Without The Confusing Parts.
            </div>
        </div>
    </footer>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="js/superfish.js" type="text/javascript"></script>
<script src="js/jquery.isotope.js" type="text/javascript"></script>
<script src="js/jquery.fitvids.js" type="text/javascript"></script>
<script src="js/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script>
<script src="js/jquery.flexslider-min.js" type="text/javascript"></script>
<script src="js/jquery.formLabels1.0.js" type="text/javascript"></script>
<script src="js/jquery.jplayer.js" type="text/javascript"></script>

<!--[if (gte IE 6)&(lte IE 8)]><script type="text/javascript" src="js/selectivizr-min.js"></script><![endif]-->
<script defer src="js/scripts.js" type="text/javascript"></script>

</body>
</html>
