<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# modernmom: http://ogp.me/ns/fb/modernmom#">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Must Haves{% endblock %}</title>
        <link rel="image_src" href="http://www.modernmom.com/sites/default/files/logo.jpg" />
        {% block meta %}
        <meta property="og:title" content="Must Have" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://musthave.modernmom.com/" />
        <meta property="og:site_name" content="Must Have" />
        <meta property="fb:app_id" content="161584677351550" />
        <meta property="fb:admins" content="622302511" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        {% endblock %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/facebook.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/font-awesome.css" />
        {% block head %}{% endblock %}
      
        <script type="text/javascript">
            
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-9629029-1']);
            _gaq.push(['_setDomainName', 'modernmom.com']);
            _gaq.push(['_trackPageview']);
            
            (function(){
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
            
        </script>
    </head>
    <body>
      
		 
        <div class="container">
            {% block container %}
            {% endblock %}
        </div>
        <!-- /container -->
        <div id="fb-root">
        </div>
        <script src="http://code.jquery.com/jquery-latest.js">
        </script>
		<script src="http://code.jquery.com/jquery-migrate-1.1.0.js"></script>

        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js">
        </script>
		
        {% block lower_js %}{% endblock %}
    </body>
</html>
