<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>All Styles</title>
<link rel="stylesheet" type="text/css" href="Article Page - Multiple Images.css" media="screen" />
</head>

<body>
<section class="article">
	<article class="blog">
		<h1>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit!</h1>
        <h2>Aenean Non Dolor Mauris, Vitae Mattis Risus.</h2>
        <h3>By: Lorem Ipsum</h3>
        <!-- Start Social Share Tools -->
        <div class="share-tools">
        	<div class="social-item facebook">
				<div id="fb-root"></div>
					<script>(function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=494339983924111";
                        fjs.parentNode.insertBefore(js, fjs);
                      }(document, 'script', 'facebook-jssdk'));</script>
			</div>
			<div class="social-item twitter">
            	<a href="https://twitter.com/share" class="twitter-share-button" data-related="ModernMom">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
			<div class="social-item pinterest">
            	<a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.modernmom.com&media=http%3A%2F%2Fcdn-b.static-modernmom.com%2Fsites%2Fdefault%2Ffiles%2Fimagecache%2Fwidth_400%2Ffeatured%2Farticle%2F01%2Fnutrition_trends.jpg&description=Description" class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
            </div>
            <div class="social-item google">
				<div class="g-plus" data-action="share" data-annotation="bubble"></div>
				<script type="text/javascript">
                  (function() {
                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                    po.src = 'https://apis.google.com/js/plusone.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                  })();
                </script>
        	</div>
            <div class="social-item print">
            	<a href="/print/article/green-and-lean-on-the-wallet-nutrition-trends-for-2013" title="Display a printer-friendly version of this page." class="print-page-icon" onclick="window.open(this.href); return false" rel="nofollow">Print this article</a>
            </div>
        </div>
        <!-- End Social Share Tools -->
        <figure class="featured-image">
        	<img src="Main Article Image.jpg" />
            <figcaption class="caption">
            	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non dolor mauris, vitae mattis risus. Sed placerat aliquet tortor.
            </figcaption>
        </figure>
        <p class="article-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non dolor mauris, vitae mattis risus. Sed placerat aliquet tortor. Vestibulum eget dui in magna dignissim ultricies. Duis a risus vitae purus condimentum accumsan in sit amet quam. Vestibulum gravida scelerisque justo, et venenatis quam blandit vitae. Donec egestas ipsum a felis luctus ultricies. Proin vel purus orci, vel ullamcorper est. Aliquam turpis mi, blandit aliquet bibendum et, dapibus ac nunc. In eleifend varius lectus sit amet fermentum. Quisque ultrices lobortis viverra. Quisque non euismod sem. Suspendisse eget est tincidunt est convallis egestas sed ut magna.</p>
        <blockquote class="quote">
        	<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non dolor mauris, vitae mattis risus."</p>
            <cite class="quote-author">
            	— Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </cite>
        </blockquote>
        <h4>Pull Quote</h4>
        <p class="article-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non dolor mauris, vitae mattis risus. Sed placerat aliquet tortor. Vestibulum eget dui in magna dignissim ultricies. Duis a risus vitae purus condimentum accumsan in sit amet quam. Vestibulum gravida scelerisque justo, et venenatis quam blandit vitae. Donec egestas ipsum a felis luctus ultricies. Proin vel purus orci, vel ullamcorper est. Aliquam turpis mi, blandit aliquet bibendum et, dapibus ac nunc. In eleifend varius lectus sit amet fermentum. Quisque ultrices lobortis viverra. Quisque non euismod sem. Suspendisse eget est tincidunt est convallis egestas sed ut magna.</p>
        <p class="article-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non dolor mauris, vitae mattis risus. Sed placerat aliquet tortor. Vestibulum eget dui in magna dignissim ultricies. Duis a risus vitae purus condimentum accumsan in sit amet quam. Vestibulum gravida scelerisque justo, et venenatis quam blandit vitae. Donec egestas ipsum a felis luctus ultricies. Proin vel purus orci, vel ullamcorper est. Aliquam turpis mi, blandit aliquet bibendum et, dapibus ac nunc. In eleifend varius lectus sit amet fermentum. Quisque ultrices lobortis viverra. Quisque non euismod sem. Suspendisse eget est tincidunt est convallis egestas sed ut magna.</p>
        <p class="article-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non dolor mauris, vitae mattis risus. Sed placerat aliquet tortor. Vestibulum eget dui in magna dignissim ultricies. Duis a risus vitae purus condimentum accumsan in sit amet quam. Vestibulum gravida scelerisque justo, et venenatis quam blandit vitae. Donec egestas ipsum a felis luctus ultricies. Proin vel purus orci, vel ullamcorper est. Aliquam turpis mi, blandit aliquet bibendum et, dapibus ac nunc. In eleifend varius lectus sit amet fermentum. Quisque ultrices lobortis viverra. Quisque non euismod sem. Suspendisse eget est tincidunt est convallis egestas sed ut magna.</p>
        <p class="article-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non dolor mauris, vitae mattis risus. Sed placerat aliquet tortor. Vestibulum eget dui in magna dignissim ultricies. Duis a risus vitae purus condimentum accumsan in sit amet quam. Vestibulum gravida scelerisque justo, et venenatis quam blandit vitae. Donec egestas ipsum a felis luctus ultricies. Proin vel purus orci, vel ullamcorper est. Aliquam turpis mi, blandit aliquet bibendum et, dapibus ac nunc. In eleifend varius lectus sit amet fermentum. Quisque ultrices lobortis viverra. Quisque non euismod sem. Suspendisse eget est tincidunt est convallis egestas sed ut magna.</p>
        <!-- BEGIN SIDEBAR -->
        <div class="sidebar">
        	<h5>Lorem Ipsum Dolor</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non dolor mauris, vitae mattis risus. Sed placerat aliquet tortor. Vestibulum eget dui in magna dignissim ultricies. Duis a risus vitae purus condimentum accumsan in sit amet quam. Vestibulum gravida scelerisque justo, et venenatis quam blandit vitae. Donec egestas ipsum a felis luctus ultricies. Proin vel purus orci, vel ullamcorper est.</p>
            <p>Aliquam turpis mi, blandit aliquet bibendum et, dapibus ac nunc. In eleifend varius lectus sit amet fermentum. Quisque ultrices lobortis viverra. Quisque non euismod sem. Suspendisse eget est tincidunt est convallis egestas sed ut magna.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non dolor mauris, vitae mattis risus. Sed placerat aliquet tortor. Vestibulum eget dui in magna dignissim ultricies. Duis a risus vitae purus condimentum accumsan in sit amet quam.</p>
            <p>Vestibulum gravida scelerisque justo, et venenatis quam blandit vitae. Donec egestas ipsum a felis luctus ultricies. Proin vel purus orci, vel ullamcorper est. Aliquam turpis mi, blandit aliquet bibendum et, dapibus ac nunc. In eleifend varius lectus sit amet fermentum. Quisque ultrices lobortis viverra. Quisque non euismod sem. Suspendisse eget est tincidunt est convallis egestas sed ut magna.</p>
        </div>
        <!-- END SIDEBAR -->
        <h4>Sidebar</h4>
        <p class="article-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non dolor mauris, vitae mattis risus. Sed placerat aliquet tortor. Vestibulum eget dui in magna dignissim ultricies. Duis a risus vitae purus condimentum accumsan in sit amet quam. Vestibulum gravida scelerisque justo, et venenatis quam blandit vitae. Donec egestas ipsum a felis luctus ultricies. Proin vel purus orci, vel ullamcorper est. Aliquam turpis mi, blandit aliquet bibendum et, dapibus ac nunc. In eleifend varius lectus sit amet fermentum. Quisque ultrices lobortis viverra. Quisque non euismod sem. Suspendisse eget est tincidunt est convallis egestas sed ut magna.</p>
        <p class="article-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non dolor mauris, vitae mattis risus. Sed placerat aliquet tortor. Vestibulum eget dui in magna dignissim ultricies. Duis a risus vitae purus condimentum accumsan in sit amet quam. Vestibulum gravida scelerisque justo, et venenatis quam blandit vitae. Donec egestas ipsum a felis luctus ultricies. Proin vel purus orci, vel ullamcorper est. Aliquam turpis mi, blandit aliquet bibendum et, dapibus ac nunc. In eleifend varius lectus sit amet fermentum. Quisque ultrices lobortis viverra. Quisque non euismod sem. Suspendisse eget est tincidunt est convallis egestas sed ut magna.</p>
        <p class="article-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non dolor mauris, vitae mattis risus. Sed placerat aliquet tortor. Vestibulum eget dui in magna dignissim ultricies. Duis a risus vitae purus condimentum accumsan in sit amet quam. Vestibulum gravida scelerisque justo, et venenatis quam blandit vitae. Donec egestas ipsum a felis luctus ultricies. Proin vel purus orci, vel ullamcorper est. Aliquam turpis mi, blandit aliquet bibendum et, dapibus ac nunc. In eleifend varius lectus sit amet fermentum. Quisque ultrices lobortis viverra. Quisque non euismod sem. Suspendisse eget est tincidunt est convallis egestas sed ut magna.</p>
        <p class="article-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non dolor mauris, vitae mattis risus. Sed placerat aliquet tortor. Vestibulum eget dui in magna dignissim ultricies. Duis a risus vitae purus condimentum accumsan in sit amet quam. Vestibulum gravida scelerisque justo, et venenatis quam blandit vitae. Donec egestas ipsum a felis luctus ultricies. Proin vel purus orci, vel ullamcorper est. Aliquam turpis mi, blandit aliquet bibendum et, dapibus ac nunc. In eleifend varius lectus sit amet fermentum. Quisque ultrices lobortis viverra. Quisque non euismod sem. Suspendisse eget est tincidunt est convallis egestas sed ut magna.</p>
        <div class="secondary-image left-align">
        	<img src="Secondary Article Image.jpg" />
        </div>
        <h4>Secondary Image - Left Align</h4>
        <p class="article-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non dolor mauris, vitae mattis risus. Sed placerat aliquet tortor. Vestibulum eget dui in magna dignissim ultricies. Duis a risus vitae purus condimentum accumsan in sit amet quam. Vestibulum gravida scelerisque justo, et venenatis quam blandit vitae. Donec egestas ipsum a felis luctus ultricies. Proin vel purus orci, vel ullamcorper est. Aliquam turpis mi, blandit aliquet bibendum et, dapibus ac nunc. In eleifend varius lectus sit amet fermentum. Quisque ultrices lobortis viverra. Quisque non euismod sem. Suspendisse eget est tincidunt est convallis egestas sed ut magna.</p>
        <p class="article-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non dolor mauris, vitae mattis risus. Sed placerat aliquet tortor. Vestibulum eget dui in magna dignissim ultricies. Duis a risus vitae purus condimentum accumsan in sit amet quam. Vestibulum gravida scelerisque justo, et venenatis quam blandit vitae. Donec egestas ipsum a felis luctus ultricies. Proin vel purus orci, vel ullamcorper est. Aliquam turpis mi, blandit aliquet bibendum et, dapibus ac nunc. In eleifend varius lectus sit amet fermentum. Quisque ultrices lobortis viverra. Quisque non euismod sem. Suspendisse eget est tincidunt est convallis egestas sed ut magna.</p>
        <p class="article-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non dolor mauris, vitae mattis risus. Sed placerat aliquet tortor. Vestibulum eget dui in magna dignissim ultricies. Duis a risus vitae purus condimentum accumsan in sit amet quam. Vestibulum gravida scelerisque justo, et venenatis quam blandit vitae. Donec egestas ipsum a felis luctus ultricies. Proin vel purus orci, vel ullamcorper est. Aliquam turpis mi, blandit aliquet bibendum et, dapibus ac nunc. In eleifend varius lectus sit amet fermentum. Quisque ultrices lobortis viverra. Quisque non euismod sem. Suspendisse eget est tincidunt est convallis egestas sed ut magna.</p>
        <div class="secondary-image right-align">
        	<img src="Secondary Article Image - Tall.jpg" />
        </div>
        <h4>Secondary Image - Right Align (Tall)</h4>
        <p class="article-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non dolor mauris, vitae mattis risus. Sed placerat aliquet tortor. Vestibulum eget dui in magna dignissim ultricies. Duis a risus vitae purus condimentum accumsan in sit amet quam. Vestibulum gravida scelerisque justo, et venenatis quam blandit vitae. Donec egestas ipsum a felis luctus ultricies. Proin vel purus orci, vel ullamcorper est. Aliquam turpis mi, blandit aliquet bibendum et, dapibus ac nunc. In eleifend varius lectus sit amet fermentum. Quisque ultrices lobortis viverra. Quisque non euismod sem. Suspendisse eget est tincidunt est convallis egestas sed ut magna.</p>
        <p class="article-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non dolor mauris, vitae mattis risus. Sed placerat aliquet tortor. Vestibulum eget dui in magna dignissim ultricies. Duis a risus vitae purus condimentum accumsan in sit amet quam. Vestibulum gravida scelerisque justo, et venenatis quam blandit vitae. Donec egestas ipsum a felis luctus ultricies. Proin vel purus orci, vel ullamcorper est. Aliquam turpis mi, blandit aliquet bibendum et, dapibus ac nunc. In eleifend varius lectus sit amet fermentum. Quisque ultrices lobortis viverra. Quisque non euismod sem. Suspendisse eget est tincidunt est convallis egestas sed ut magna.</p>
        <h4>YouTube Video Embed - Full Width (620x349)</h4>
        <div class="video-embed 620">
        	<iframe width="620" height="349" src="http://www.youtube.com/embed/T7VsqoyfslY?rel=0" frameborder="0" allowfullscreen></iframe>
            <p>
        </div>
        <p class="article-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non dolor mauris, vitae mattis risus. Sed placerat aliquet tortor. Vestibulum eget dui in magna dignissim ultricies. Duis a risus vitae purus condimentum accumsan in sit amet quam. Vestibulum gravida scelerisque justo, et venenatis quam blandit vitae. Donec egestas ipsum a felis luctus ultricies. Proin vel purus orci, vel ullamcorper est. Aliquam turpis mi, blandit aliquet bibendum et, dapibus ac nunc. In eleifend varius lectus sit amet fermentum. Quisque ultrices lobortis viverra. Quisque non euismod sem. Suspendisse eget est tincidunt est convallis egestas sed ut magna.</p>
        <h4>YouTube Video Embed - Default Size (560x315)</h4>
		<div class="video-embed 560">
        	<iframe width="560" height="315" src="http://www.youtube.com/embed/T7VsqoyfslY?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <p class="article-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non dolor mauris, vitae mattis risus. Sed placerat aliquet tortor. Vestibulum eget dui in magna dignissim ultricies. Duis a risus vitae purus condimentum accumsan in sit amet quam. Vestibulum gravida scelerisque justo, et venenatis quam blandit vitae. Donec egestas ipsum a felis luctus ultricies. Proin vel purus orci, vel ullamcorper est. Aliquam turpis mi, blandit aliquet bibendum et, dapibus ac nunc. In eleifend varius lectus sit amet fermentum. Quisque ultrices lobortis viverra. Quisque non euismod sem. Suspendisse eget est tincidunt est convallis egestas sed ut magna.</p>
        <p class="article-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non dolor mauris, vitae mattis risus. Sed placerat aliquet tortor. Vestibulum eget dui in magna dignissim ultricies. Duis a risus vitae purus condimentum accumsan in sit amet quam. Vestibulum gravida scelerisque justo, et venenatis quam blandit vitae. Donec egestas ipsum a felis luctus ultricies. Proin vel purus orci, vel ullamcorper est. Aliquam turpis mi, blandit aliquet bibendum et, dapibus ac nunc. In eleifend varius lectus sit amet fermentum. Quisque ultrices lobortis viverra. Quisque non euismod sem. Suspendisse eget est tincidunt est convallis egestas sed ut magna.</p>
        <p class="article-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non dolor mauris, vitae mattis risus. Sed placerat aliquet tortor. Vestibulum eget dui in magna dignissim ultricies. Duis a risus vitae purus condimentum accumsan in sit amet quam. Vestibulum gravida scelerisque justo, et venenatis quam blandit vitae. Donec egestas ipsum a felis luctus ultricies. Proin vel purus orci, vel ullamcorper est. Aliquam turpis mi, blandit aliquet bibendum et, dapibus ac nunc. In eleifend varius lectus sit amet fermentum. Quisque ultrices lobortis viverra. Quisque non euismod sem. Suspendisse eget est tincidunt est convallis egestas sed ut magna.</p>
        <p class="article-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non dolor mauris, vitae mattis risus. Sed placerat aliquet tortor. Vestibulum eget dui in magna dignissim ultricies. Duis a risus vitae purus condimentum accumsan in sit amet quam. Vestibulum gravida scelerisque justo, et venenatis quam blandit vitae. Donec egestas ipsum a felis luctus ultricies. Proin vel purus orci, vel ullamcorper est. Aliquam turpis mi, blandit aliquet bibendum et, dapibus ac nunc. In eleifend varius lectus sit amet fermentum. Quisque ultrices lobortis viverra. Quisque non euismod sem. Suspendisse eget est tincidunt est convallis egestas sed ut magna.</p>
        <p class="article-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non dolor mauris, vitae mattis risus. Sed placerat aliquet tortor. Vestibulum eget dui in magna dignissim ultricies. Duis a risus vitae purus condimentum accumsan in sit amet quam. Vestibulum gravida scelerisque justo, et venenatis quam blandit vitae. Donec egestas ipsum a felis luctus ultricies. Proin vel purus orci, vel ullamcorper est. Aliquam turpis mi, blandit aliquet bibendum et, dapibus ac nunc. In eleifend varius lectus sit amet fermentum. Quisque ultrices lobortis viverra. Quisque non euismod sem. Suspendisse eget est tincidunt est convallis egestas sed ut magna.</p>
        <p class="article-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non dolor mauris, vitae mattis risus. Sed placerat aliquet tortor. Vestibulum eget dui in magna dignissim ultricies. Duis a risus vitae purus condimentum accumsan in sit amet quam. Vestibulum gravida scelerisque justo, et venenatis quam blandit vitae. Donec egestas ipsum a felis luctus ultricies. Proin vel purus orci, vel ullamcorper est. Aliquam turpis mi, blandit aliquet bibendum et, dapibus ac nunc. In eleifend varius lectus sit amet fermentum. Quisque ultrices lobortis viverra. Quisque non euismod sem. Suspendisse eget est tincidunt est convallis egestas sed ut magna.</p>
        <p class="article-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non dolor mauris, vitae mattis risus. Sed placerat aliquet tortor. Vestibulum eget dui in magna dignissim ultricies. Duis a risus vitae purus condimentum accumsan in sit amet quam. Vestibulum gravida scelerisque justo, et venenatis quam blandit vitae. Donec egestas ipsum a felis luctus ultricies. Proin vel purus orci, vel ullamcorper est. Aliquam turpis mi, blandit aliquet bibendum et, dapibus ac nunc. In eleifend varius lectus sit amet fermentum. Quisque ultrices lobortis viverra. Quisque non euismod sem. Suspendisse eget est tincidunt est convallis egestas sed ut magna.</p>
        <p class="article-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non dolor mauris, vitae mattis risus. Sed placerat aliquet tortor. Vestibulum eget dui in magna dignissim ultricies. Duis a risus vitae purus condimentum accumsan in sit amet quam. Vestibulum gravida scelerisque justo, et venenatis quam blandit vitae. Donec egestas ipsum a felis luctus ultricies. Proin vel purus orci, vel ullamcorper est. Aliquam turpis mi, blandit aliquet bibendum et, dapibus ac nunc. In eleifend varius lectus sit amet fermentum. Quisque ultrices lobortis viverra. Quisque non euismod sem. Suspendisse eget est tincidunt est convallis egestas sed ut magna.</p>
        <p class="article-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non dolor mauris, vitae mattis risus. Sed placerat aliquet tortor. Vestibulum eget dui in magna dignissim ultricies. Duis a risus vitae purus condimentum accumsan in sit amet quam. Vestibulum gravida scelerisque justo, et venenatis quam blandit vitae. Donec egestas ipsum a felis luctus ultricies. Proin vel purus orci, vel ullamcorper est. Aliquam turpis mi, blandit aliquet bibendum et, dapibus ac nunc. In eleifend varius lectus sit amet fermentum. Quisque ultrices lobortis viverra. Quisque non euismod sem. Suspendisse eget est tincidunt est convallis egestas sed ut magna.</p>
        <p class="article-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non dolor mauris, vitae mattis risus. Sed placerat aliquet tortor. Vestibulum eget dui in magna dignissim ultricies. Duis a risus vitae purus condimentum accumsan in sit amet quam. Vestibulum gravida scelerisque justo, et venenatis quam blandit vitae. Donec egestas ipsum a felis luctus ultricies. Proin vel purus orci, vel ullamcorper est. Aliquam turpis mi, blandit aliquet bibendum et, dapibus ac nunc. In eleifend varius lectus sit amet fermentum. Quisque ultrices lobortis viverra. Quisque non euismod sem. Suspendisse eget est tincidunt est convallis egestas sed ut magna.</p>
        <div class="block-google_admanager">
          <div class="GoogleAds">
            <script type="text/javascript">
              <!--
              google_ad_client = "ca-pub-9745804465737047";
              /* 336x280, ROS created 11/5/10 */
              google_ad_slot = "3134915517";
              google_ad_width = 336;
              google_ad_height = 280;
              //-->
            </script>
            <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
          </div>
        </div> 
		<section id="also-like">
        	<div class="also-like-title">You Might Also Like...</div>
            <ul class="TitleList">
            	<li class="item"><a href="#">Traditional & Contemporary Tailoring Techniques</a></li>
                <li class="item"><a href="#">Styles of Men's Scarves</a></li>
                <li class="item"><a href="#">Traditional Egyptian Wedding Dress</a></li>
                <li class="item"><a href="#">Loving Leather? 9 Trends to Try</a></li>
                <li class="item"><a href="#">What Is Masked Domain Forwarding?</a></li>
            </ul>
        </section>
        <div class="clear"></div>
        <!-- Start Social Share Tools -->
        <div class="share-tools">
        	<div class="social-item facebook">
				<div id="fb-root"></div>
					<script>(function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=494339983924111";
                        fjs.parentNode.insertBefore(js, fjs);
                      }(document, 'script', 'facebook-jssdk'));</script>
			</div>
			<div class="social-item twitter">
            	<a href="https://twitter.com/share" class="twitter-share-button" data-related="ModernMom">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
			<div class="social-item pinterest">
            	<a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.modernmom.com&media=http%3A%2F%2Fcdn-b.static-modernmom.com%2Fsites%2Fdefault%2Ffiles%2Fimagecache%2Fwidth_400%2Ffeatured%2Farticle%2F01%2Fnutrition_trends.jpg&description=Description" class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
            </div>
            <div class="social-item google">
				<div class="g-plus" data-action="share" data-annotation="bubble"></div>
				<script type="text/javascript">
                  (function() {
                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                    po.src = 'https://apis.google.com/js/plusone.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                  })();
                </script>
        	</div>
            <div class="social-item print">
            	<a href="/print/article/green-and-lean-on-the-wallet-nutrition-trends-for-2013" title="Display a printer-friendly version of this page." class="print-page-icon" onclick="window.open(this.href); return false" rel="nofollow">Print this article</a>
            </div>
        </div>
        <!-- End Social Share Tools -->
        <div class="author-box">
        	<div>
            	<img class="avatar" src="AuthorImage.jpg" />
                <strong>About Lorem Ipsum</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non dolor mauris, vitae mattis risus. Sed placerat aliquet tortor. Vestibulum eget dui in magna dignissim ultricies. Duis a risus vitae <a href="#">purus condimentum accumsan</a> in sit amet quam. Vestibulum gravida scelerisque justo, et venenatis quam blandit vitae. Donec egestas ipsum a <a href="#">felis luctus ultricies</a>.</p>
            </div>
        </div>
	</article>
</section>
</body>
</html>
