{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <script>
  $(function() {
    $( "#id_publish_on" ).datepicker();
  });
  </script>

<style type="text/css">
input.text, input.search, textarea.textarea {
border-top: 1px solid #7C7C7C;
border-left: 1px solid #C3C3C3;
border-right: 1px solid #C3C3C3;
border-bottom: 1px solid #DDD;
}
input.text, input.search, input.file, textarea.textarea, select.select {
font-family: "Lucida Grande", Tahoma, Arial, sans-serif;
font-size: 100%;
color: #333;
margin: 0;
padding: 2px 0;
}
label, legend.desc {
font-size: 95%;
font-weight: bold;
color: #222;
line-height: 150%;
margin: 0;
padding: 0 0 3px 0;
border: none;
display: block;
white-space: normal;
width: 100%;
}

.forma { width: 400px; margin:0 auto;}
</style>
{% endblock %}

{% block container %}
{% if existing %}
An article with that name already exists.
<a href="">{{ existing.title }}</a>
{% endif %}
{{ errors }}
<section class="forma">
<form method="post" action="{% url content_create %}">
{% csrf_token %}
{{ content_form.as_p }}
<input type="submit" value="Create Article">
</form>
</section>
{% endblock %}