{% extends 'base.html'%}
{% block title %}ModernMom Toolbox{% endblock %}
{% block content %}
<div class="big-title">
    <div id="title">
        <h1>Downloads</h1>
    </div>
</div>
{% for download in downloads %}
<div id="featured" data-cme-module="featured_home" data-cme-module-min="1" data-cme-module-max="1">
    <div id="article-1" class="article">
        <a href="{{ MEDIA_URL }}{{ download.file }}"><img src="{{ download.image.get_470X380_url }}" alt="" width="638" height="318"></a><h3><a href="{{ MEDIA_URL }}{{ download.file }}">{{ download.name }}</a></h3>
    </div>
</div>
{% endfor %}

{% endblock %}