{% load i18n humanize %}
<div id="article-content" class="article">
    <h2 class="title">{% trans article.title %}</h2>
    {% if article.authors.count > 0 %}
    Written By:{% for author in article.authors.all %}<a href="{{ author.get_absolute_url }}">{{ author.first_name }} {{ author.last_name }}</a>
    {% endfor %}
    {% endif %}
    {% if article.image %}
    <div class="row">
    	<div class="span7">
    		<div id="top-section" class="portrait clearfix">
		    <figure id="main-article-photo" class="article-image">
	            <img src="{{ article.image.get_290X_url }}" alt="" title="{{ article.image.source }}"><figcaption class="article-image-credits">
						<p class="photo-cap">{{ article.image.title }}</p>
					</figcaption></figure><div id="related-articles">
				<h3>Related Articles</h3>
				<ul>
				
					 {% for a in article.get_more_by_authors|slice:'8' %}
                	<li><a href="{{ a.get_absolute_url }}">{{ a }}</a></li>
                {% endfor %}
                {% for fu in article.followup_for.live %}
   
                <li>
                    <a href="{{ fu.get_absolute_url }}" title="{% trans 'Read this article' %}">{{ fu.title }}</a>, {% trans 'posted' %} {{ fu.publish_date|naturalday }}
                </li>
                {% endfor %}
                {% for ra in article.related_articles.live %}
                <li>
                    <a href="{{ ra.get_absolute_url }}" title="{% trans 'Read this related article' %}">{{ ra.title }}</a>, {% trans 'posted' %}  {{ ra.publish_date|naturalday }}
                </li>
                {% if forloop.last %}{% endif %}
                {% endfor %}
				</ul>
			</div><!-- more related -->
		    
			</div>
			
       
    </div>
    {% endif %}
    {% for ar in article.articlereference_set.all %}
    {% if ar.reference.embed_code %}
    {{ ar.reference.embed_code|safe }}
    {% endif %}
    {% endfor %}
    {{ article.rendered_introduction|safe }}
</div>
{% if article.get_next_article %}
            <p>
                <strong>{% trans 'Next' %}</strong>:<a href="{{ article.get_next_article.get_absolute_url }}">{{ article.get_next_article.title }}</a>
            </p>
            {% endif %}
            {% if article.get_previous_article %}
            <p>
                <strong>{% trans 'Previous' %}</strong>:<a href="{{ article.get_previous_article.get_absolute_url }}">{{ article.get_previous_article.title }}</a>
            </p>
            {% endif %}
{% for att in article.attachments.all %}
{% if forloop.first %}
<div id="article-attachments">
    <h3>Attachments</h3>
    <ul>
        {% endif %}
        <li id="attachment-{{ forloop.counter }}" class="attachment ct_{{ att.content_type_class }}">
            <a href="{{ att.attachment.url }}" class="attachment-link">{{ att.filename }}</a>
            <span class="attachment-size">Size: {{ att.attachment.size|filesizeformat }}</span>
        </li>
        {% if forloop.last %}
    </ul>
</div>{% endif %}
{% endfor %}
