{% extends 'bootstrapbase.html'%}

{% block title %}Create Content on ModernMom{% endblock %}
{% block meta_og %}
<meta property="og:url" content="http://www.modernmom.com{% url 'scoop_home' %}">
<meta property="og:description" content="">
<meta property="og:type" content="website">
<meta property="og:title" content="ModernMom Scoop">
<meta property="og:image" content="">
{% endblock %}
{% block css %}
        <link href="{{ STATIC_URL }}django_bootstrap_wysiwyg/css/bootstrap-wysiwyg.css" rel="stylesheet" />
{%endblock %}
{% block container %}
<div class="row">
	<form  method="post" action="{% url 'create_article' %}">
    <div class="span7">
    	{{ form.errors }}
        
        	{% csrf_token %}
					{{ form.display_type }}

					<input class="input-xxlarge" type="text" name="{{ form.title.html_name }}" placeholder="Post Title" id="id_{{ form.title.html_name }}" value="{% if form.title.value %}{{ form.title.value }}{% endif %}">
					{{ form.introduction }}
					{{ form.followup_for }}
					{{ form.related_articles }}

					<br>
					{{ form.publish_date }}
					{{ form.login_required }}{{ form.expiration_date }}{{ form.status }}

    </div>
	<div class="span5">
		{{ form.authors }}
		{{ form.category }}
		{{ form.scoop }}
		{{ form.topic }}
	</div>
	<button type="submit">Save</button>
	</form>
</div>
<script type="text/javascript">

</script>
{% endblock %}
{% block js_lower %}

        <script src="https://mindmup.s3.amazonaws.com/lib/jquery.hotkeys.js"></script>
        <script src="{{ STATIC_URL }}django_bootstrap_wysiwyg/js/bootstrap-wysiwyg.js"></script>
{% endblock %}