<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# modernmom: http://ogp.me/ns/fb/modernmom#">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>{% block title %}ModernMom{% endblock %}</title>
        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/font-awesome.css" />
		<link rel="stylesheet" type="text/css" href="/media/contests/css/style.css">
         {% block head %}{% endblock %}
       
        <script type="text/javascript">
            
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-9629029-18']);
            _gaq.push(['_setDomainName', 'modernmom.com']);
            _gaq.push(['_trackPageview']);
            
            (function(){
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
        </script>
        <style type="text/css">
        	.navbar {
margin-bottom: 0;

}
            .nav-block {
                float: right;
                width: 300px;
                display: block;
            }
            
            .multi-column-menu {
                float: left;
            }
			.navbar .nav > li > a {
float: none;
padding: 10px;

text-shadow: none;
}
navbar .nav > li > a {

padding: 10px;
text-shadow: none;
}
        </style>
    </head>
    <body class="">
       	
		
        <div class="container">
            {% block container %}{% endblock %}
        </div>
        <div id="fb-root">
        </div>
        {% block footer_scripts %}
        {% endblock %}
        <script src="http://code.jquery.com/jquery-latest.js">
        </script>
        <script src="/static/bootstrap/js/bootstrap.js">
        </script>
       
    </body>
</html>
