{% extends 'bootstrapbase.html' %}
{% block head %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/homepage.css" type="text/css">

{% endblock %}
{% block container %}

<div class="row  visible-desktop">
    <div class="span2">
        <div class="widget">
            <!--end social-media-links --><h3 class="content-aside">Explore</h3>
            <ul id="subnav" class="demand-icon-list">
                <li class="item-1">
                    <a href="http://motherhood.modernmom.com/around-the-house/">Around The House</a>
                </li>
                <li class="item-2">
                    <a href="http://motherhood.modernmom.com/beauty-style/">Beauty &amp; Style</a>
                </li>
                <li class="item-3">
                    <a href="http://motherhood.modernmom.com/food-drink/">Food &amp; Drink</a>
                </li>
                <li class="item-4">
                    <a href="http://motherhood.modernmom.com/living-healthy/">Living Healthy</a>
                </li>
                <li class="item-5">
                    <a href="http://motherhood.modernmom.com/parenting-pregnancy/">Parenting</a>
                </li>
                <li class="item-6">
                    <a href="http://motherhood.modernmom.com/relationships-family/">Relationships</a>
                </li>
            </ul>
        </div>
        <!--end widget-->
    </div>
    <!--end span2-->
    <div class="span7 top-border-content">
        <div class="clear-space">
            &nbsp;
        </div>
        <div class="section-title">
            <span class="wht-bg-H1 pink"><span class="black">What's Hot</span></span>
            <div class="bars">
            </div>
        </div>
        <div class="span4">
            <!-- Carousel --><!-- consult Bootstrap docs at
            http://twitter.github.com/bootstrap/javascript.html#carousel -->
            <div id="this-carousel-id" class="carousel slide">
                <div class="carousel-inner">
                	{% for item in featured_items %}
                    <div class="item{% if forloop.counter0 == 0 %} active{% endif %}">
                        <a href="#"><img src="{{ item.image.get_370X250_url }}" alt="{{ item.image.caption }}" /></a>
                        <div class="carousel-caption">
                           
                            <p>
                                <a href="{{ item.url }}">{{ item }}</a>
                            </p>
                        </div>
                    </div>
									{% endfor %}
                </div>
                <!--end inner--><!-- .carousel-inner --><!-- next and previous controls here
                href values must reference the id for this carousel --><a class="carousel-control left" href="#this-carousel-id" data-slide="prev">‹</a>
                <a class="carousel-control right" href="#this-carousel-id" data-slide="next">›</a>
            </div>
            <!--end this-carousel-id--><!-- .carousel -->
        </div>
        <!--end span4-->
        <div class="span2">
            <h4 class="content-aside"><a href="http://brookeburke.modernmom.com/bb365/" class="h4a">BROOKE <span class="pink">BURKE</span></a></h4>
            <p class="popu">
                Want to get personal with Brooke? Check out her blog and exclusive pics!
            </p>
            <h4 class="content-aside"><a href="http://www.modernmom.com/scoop/" class="h4a">MOMMY<span class="pink">WOOD</span></a></h4>
            <p class="popu">
                All the latest parenting news, hot topics, celebrity gossip and more!
            </p>
            <h4 class="content-aside"><a href="http://babooshbaby.com/" class="h4a">SHOP OUR <span class="pink">STORE</span></a></h4>
            <p class="popu">
                Want Brooke's toned tummy? Check out her post-pregnancy and exercise wraps!
            </p>
        </div>
        <!--end span2-->
    </div>
    <!-- end span7 -->
    <div class="span3">
        <!-- ## IndieClick Ad Tag
        ## publisher[ModernMom]  zone[Run of site]  size[300x250]  v[2]
        -->
        <script language="JavaScript" type="text/javascript">
            
            //<![CDATA[
            
            (function(){
                var config = {
                
                    ic_domain: "dmd.ind.modernmom",
                    ic_size: "300x250",
                    ic_zone: "",
                    ic_campaign: "",
                    ic_version: "2"
                
                };
                var ic_config = (typeof window.top.ic_config == "undefined") ? window.top.ic_config = {} : window.top.ic_config;
                var in_iframe = (window != window.top) ? true : false;
                config.iframe = (in_iframe) ? true : false;
                config.ord = (ic_config.ord) ? ic_config.ord : ic_config.ord = Math.floor(Math.random() * 10000000000000000);
                config.tile = (ic_config.tile) ? ++ic_config.tile : ic_config.tile = 1;
                for (var key in ic_config) {
                    config[key] = ic_config[key]
                }
                var key_value = [];
                key_value[key_value.length] = "sz=" + config.ic_size;
                key_value[key_value.length] = "tile=" + config.tile;
                key_value[key_value.length] = "ver=" + config.ic_version;
                key_value[key_value.length] = "frame=" + config.iframe;
                key_value[key_value.length] = "cm=" + config.ic_campaign;
                for (var key in config.ic_keyValue) {
                    key_value[key_value.length] = key + "=" + config.ic_keyValue[key]
                }
                if (!in_iframe && !ic_config.dcopt) {
                    ic_config.dcopt = true;
                    key_value[key_value.length] = "dcopt=ist"
                }
                document.write('<span id="ic_' + config.ord + config.tile + '"></span>');
                var element = document.getElementById("ic_" + config.ord + config.tile);
                if (ic_config.asyncInit) {
                    ic_config.asyncInit(key_value, element)
                }
                var key_value = key_value.join(";");
                window.ic_ad_complete = function(){
                    if (in_iframe) {
                        window.onload = function(){
                            var elem = document.getElementById("icAdUnit");
                            elem.style.position = "absolute";
                            window.frameElement.style.width = elem.offsetWidth + "px";
                            window.frameElement.style.height = elem.offsetHeight + "px";
                            window.frameElement.style.overflow = "hidden";
                            window.frameElement.style.border = "0"
                        }
                    }
                };
                document.write('<script language="JavaScript" src="http://ad.doubleclick.net/adj/' + config.ic_domain + "/" + config.ic_zone + ";" + key_value + ";ord=" + config.ord + '?" type="text/javascript"><\/script>');
                document.write('<script type="text/javascript">window.ic_ad_complete();<\/script>')
            })();
            
            (function(){
                var u = "dmd.ind.modernmom//3/ns/300x250/script_dfp.js";
                var e = document.createElement('script');
                e.src = 'http://pixel.indieclick.com/annonymous/dfp/' + u;
                e.type = "text/javascript";
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(e, s);
            })();
            
            //]]>
        </script>
        <noscript>
            <a href="http://ad.doubleclick.net/jump/dmd.ind.modernmom/;sz=300x250;ord=123456789?" target="_blank"><img src="http://ad.doubleclick.net/ad/dmd.ind.modernmom/;sz=300x250;ord=123456789?" border="0" alt="" /></a>
        </noscript><!-- End IndieClick Ad Tag -->
        <div class="message-box-head">
        	
            <a href="{{ jumplinks_300X120.url }}" onclick="{{ jumplinks_300X120.get_tracking_onclick }}"><img src="{{ jumplinks_300X120.get_300x120_url }}" alt=""></a>
		
        </div>
    </div><!--end span3-->
</div><!--end row-->
<div class="row  visible-desktop">
    <div class="span12">
        <div id="whats-new">
            <div class="strip-title">
                <div class="strip-text">
                </div>
                <span class="wht-bg-H1-whats-new pink">What's <span class="black-whats-new">New</span></span>
            </div>
            {% for article in latest %}
            <div class="whats-new-thumb{% if forloop.counter0 == 0%}-first{% endif %}">
                <p class="thumb-title">
                    <a href="{{ article.get_absolute_url }}">{{ article|safe }}</a>
                </p>
            </div>
            {% endfor %}
            <div class="clear-both">
            </div>
            <div class="bottom-line">
                &nbsp;
            </div>
        </div>
    </div>
    <!-- /span12 -->
</div>
<!-- /row -->
<div class="row">
    <div class="span2  visible-desktop">
        <!--end social-media-links --><h3 class="content-aside">Find Us</h3>
        <ul id="subnav2" class="demand-icon-list">
            <li class="item-1">
                <a href="https://www.facebook.com/pages/ModernMom/197177430011">Facebook</a>
            </li>
            <li class="item-2">
                <a href="https://twitter.com/#!/modernmom">Twitter</a>
            </li>
            <li class="item-3">
                <a href="http://pinterest.com/ModernMomOnline/">Pinterest</a>
            </li>
            <li class="item-3">
                <a href="https://plus.google.com/u/0/115493817170480685305/posts">Google +</a>
            </li>
        </ul>
    </div>
    <div class="span7 border-content">
        <div class="span6">
        	<div class="section-title visible-phone">
                <span class="wht-bg-H1 pink"><span class="black">Featured Today</span></span>
                <div class="bars">
                </div>
                <!-- /bars -->
                <div class="section-list" style="overflow:hidden;">
                    <ul>
                        {% for fi in featured_items %}
                        <li>
                            <a href="{{ fi.get_absolute_url }}" style="white-space:nowrap;">{{ fi }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                   
                    <!-- /section-end -->
                </div>
                <!-- /section-list -->
            </div>


						 <div class="section-title visible-phone">
                <span class="wht-bg-H1 pink"><span class="black">Whats New</span></span>
                <div class="bars">
                </div>
                <!-- /bars -->
                <div class="section-list" style="overflow:hidden;">
                    <ul>
                        {% for article in latest %}
                        <li>
                            <a href="{{ article.get_absolute_url }}" style="white-space:nowrap;">{{ article }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                   
                    <!-- /section-end -->
                </div>
                <!-- /section-list -->
            </div>
						
						
            {% for category in CHANNELS %}
            <div class="section-title">
                <span class="wht-bg-H1 pink"><span class="black">{{ category }}</span></span>
                <div class="bars">
                </div>
                <!-- /bars -->
                <div class="section-list" style="overflow:hidden;">
                    <ul>
                        {% for ci in category.items.active|slice:'5' %}
                        <li>
                            <a href="{{ ci.object.get_absolute_url }}" style="white-space:nowrap;">{{ ci }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="section-end">
                        <!--More in {{ category }} <i class="icon-caret-right"></i>-->
                    </div>
                    <!-- /section-end -->
                </div>
                <!-- /section-list -->
            </div>
            <!-- /section-title -->{% endfor %}
        </div>
        <!-- I ADD THIS RIGHT HERE, THIS ONE, NOT THAT ONE-->
    </div>
    <!-- I ADD THIS RIGHT HERE, THIS ONE, NOT THAT ONE-->
    <div class="span3">
        <h3 class="content-aside">Contests</h3>

				{% for contest in ACTIVE_CONTEST_LIST %}
        <div class="media">
            <a class="pull-left" href="{{ contest.get_absolute_url }}"><img class="media-object" src="{{ contest.contestimage.get_64X64_url }}"/></a>
            <div class="media-body">
                <p>
                    {{ contest }}
                </p>
            </div>
        </div><!--end media-->
				{% endfor %}
        <!-- ## IndieClick Ad Tag
        ## publisher[ModernMom]  zone[Run of site]  size[300x250]  v[2]
        -->
        <script language="JavaScript" type="text/javascript">
            
            //<![CDATA[
            
            (function(){
                var config = {
                
                    ic_domain: "dmd.ind.modernmom",
                    ic_size: "300x250",
                    ic_zone: "",
                    ic_campaign: "",
                    ic_version: "2"
                
                };
                var ic_config = (typeof window.top.ic_config == "undefined") ? window.top.ic_config = {} : window.top.ic_config;
                var in_iframe = (window != window.top) ? true : false;
                config.iframe = (in_iframe) ? true : false;
                config.ord = (ic_config.ord) ? ic_config.ord : ic_config.ord = Math.floor(Math.random() * 10000000000000000);
                config.tile = (ic_config.tile) ? ++ic_config.tile : ic_config.tile = 1;
                for (var key in ic_config) {
                    config[key] = ic_config[key]
                }
                var key_value = [];
                key_value[key_value.length] = "sz=" + config.ic_size;
                key_value[key_value.length] = "tile=" + config.tile;
                key_value[key_value.length] = "ver=" + config.ic_version;
                key_value[key_value.length] = "frame=" + config.iframe;
                key_value[key_value.length] = "cm=" + config.ic_campaign;
                for (var key in config.ic_keyValue) {
                    key_value[key_value.length] = key + "=" + config.ic_keyValue[key]
                }
                if (!in_iframe && !ic_config.dcopt) {
                    ic_config.dcopt = true;
                    key_value[key_value.length] = "dcopt=ist"
                }
                document.write('<span id="ic_' + config.ord + config.tile + '"></span>');
                var element = document.getElementById("ic_" + config.ord + config.tile);
                if (ic_config.asyncInit) {
                    ic_config.asyncInit(key_value, element)
                }
                var key_value = key_value.join(";");
                window.ic_ad_complete = function(){
                    if (in_iframe) {
                        window.onload = function(){
                            var elem = document.getElementById("icAdUnit");
                            elem.style.position = "absolute";
                            window.frameElement.style.width = elem.offsetWidth + "px";
                            window.frameElement.style.height = elem.offsetHeight + "px";
                            window.frameElement.style.overflow = "hidden";
                            window.frameElement.style.border = "0"
                        }
                    }
                };
                document.write('<script language="JavaScript" src="http://ad.doubleclick.net/adj/' + config.ic_domain + "/" + config.ic_zone + ";" + key_value + ";ord=" + config.ord + '?" type="text/javascript"><\/script>');
                document.write('<script type="text/javascript">window.ic_ad_complete();<\/script>')
            })();
            
            (function(){
                var u = "dmd.ind.modernmom//3/ns/300x250/script_dfp.js";
                var e = document.createElement('script');
                e.src = 'http://pixel.indieclick.com/annonymous/dfp/' + u;
                e.type = "text/javascript";
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(e, s);
            })();
            
            //]]>
        </script>
        <noscript>
            <a href="http://ad.doubleclick.net/jump/dmd.ind.modernmom/;sz=300x250;ord=123456789?" target="_blank"><img src="http://ad.doubleclick.net/ad/dmd.ind.modernmom/;sz=300x250;ord=123456789?" border="0" alt="" /></a>
        </noscript><!-- End IndieClick Ad Tag -->
				<div class="widget">
                        <script>
                            (function(){
                                var cx = '001335843976199048504:l7b834cqb00';
                                var gcse = document.createElement('script');
                                gcse.type = 'text/javascript';
                                gcse.async = true;
                                gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                                '//www.google.com/cse/cse.js?cx=' +
                                cx;
                                var s = document.getElementsByTagName('script')[0];
                                s.parentNode.insertBefore(gcse, s);
                            })();
                        </script>
                        <gcse:search>
                        </gcse:search>
                    </div>
    </div><!-- /right rail--><!-- /row -->
</div>
</div>{% endblock %}
