{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/homepage.css" type="text/css">
{% endblock %}
{% block container %}
<div class="row">
    <div class="span2">
        <div class="widget">
            <h3 class='content-aside'>Motherhood</h3>
            <ul id="subnav" class="demand-icon-list">
                {% for category in CHANNELS %}
                <li class="item-{{ category.id }}">
                    <a href="http://motherhood.modernmom.com/{{ category.slug }}/">{{ category }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="span5 home">
    <h3 class='content-aside'>Featured Stories</h3>
        <!--  Carousel -->
      <!--  consult Bootstrap docs at 
            http://twitter.github.com/bootstrap/javascript.html#carousel -->
      <div id="this-carousel-id" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <a href="#">  <img src="http://placehold.it/638x318" alt="ModernMom" />
            </a>
            <div class="carousel-caption">
              <p>ModernMom</p>
              <p><a href="#">ModernMom.com</a></p>
            </div>
          </div>
          <div class="item">
            <a href="#">
              <img src="http://placehold.it/638x318" alt="ModernMom" />
            </a>
            <div class="carousel-caption">
              <p>ModernMom</p>
              <p><a href="#">ModernMom.com</a></p>
            </div>
          </div>
        </div><!-- .carousel-inner -->
        <!--  next and previous controls here
              href values must reference the id for this carousel -->
          <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
      </div><!-- .carousel -->
      <div class="slider-thumbs"><img src="http://placehold.it/100x63" /><img src="http://placehold.it/100x63" /><img src="http://placehold.it/100x63" /><img src="http://placehold.it/100x63" /></div>
      <!-- end carousel -->
    </div>
    <div class="span5">
            <!-- Start Sidebar -->
        
            <div class="social-media-links">
            
                <div class="row">
                
                    <div class="span1">
                    <i class="icon-facebook"></i>
                    </div>
                    
                    <div class="span1">
                    <i class="icon-twitter"></i>
                    </div>
                    
                    <div class="span1">
                    <i class="icon-google-plus"></i>
                    </div>
                    
                    <div class="span1">
                    <i class="icon-flickr"></i>
                    </div>
                    
                    <div class="span1">
                    <i class="icon-youtube-sign"></i>
                    </div>
                             
                </div><!--end row -->    

            </div>
            <aside class="span3">
                <img src="http://placehold.it/300x250">
            </aside>
            <div class="span2">
             <img src="http://placehold.it/198x341" alt="ModernMom" />
            </div>
    </div>
</div>
<!--end row-->
<div class="container">
    <div class="strip-title">
        <div class="strip-text">
            <span class="wht-bg-H1 pink">What's <span class="black">New</span></span>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div id="whats-new">
                {% for article in latest %}
                <div class="whats-new-thumb{% if forloop.counter0 == 0%}-first{% endif %}">
                    <a href="{{ article.get_absolute_url }}"><img src="http://placehold.it/180x113" alt="{{ article }}"></a>
                    <p class="thumb-title">
                        <a href="{{ article.get_absolute_url }}">{{ article }}</a>
                    </p>
                </div>
                {% endfor %}
                <div class="clear-both">
                </div>
                <div class="bottom-line">
                    &nbsp;
                </div>
            </div>
        </div>
        <!-- /span12 -->
    </div>
    <!-- /row -->
    <div class="row">
        <div class="container">
            <div class="row">
                {% for category in CHANNELS %}
                <div class="span4">
                    <div class="section-title">
                        <div class="bars">
                            <span class="wht-bg-H1 pink"><span class="black">{{ category }}</span></span>
                        </div>
                        <!-- /bars -->
                        <div class="section-list">
                            <ul>
                                {% for ci in category.items.all %}
                                <li>
                                    <a href="{{ ci.object.get_absolute_url }}">{{ ci }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                            <div class="section-end">
                                More in {{ category }} <i class="icon-caret-right"></i>
                            </div>
                            <!-- /section-end -->
                        </div>
                        <!-- /section-list -->
                    </div>
                    <!-- /section-title -->
                    {% endfor %}
                </div>
                <!-- /span12 -->
            </div>
            <!-- /row -->
        </div>
    </div>
</div>
<!-- /container -->
{% endblock %}
