{% extends 'bootstrapbase.html' %}

            	{% block container %}
            
                <div class="row">
                    <div class="span2">
                        Welcome back {{ user }}
												<a href="{% url 'logout' %}">Logout</a>
												<a href="{% url 'create_article' %}">Create Content</a>
												<a href="{% url 'create_article' %}">Manage my Content</a>
												
                    </div>
                    <div class="span7">
              
                    </div>
                    <!-- Start Sidebar -->
                    <aside class="span3">
                       <img src="http://placehold.it/300x250">
                    </aside>
                </div>
                <!--end row--><!-- End Sidebar -->
								{% endblock %}