{% extends 'base.html' %}
{% block title %}
{{ product }}
{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/giftguide.css" />
{% endblock %}
{% block container %}
<div class="row">
    <div class="span8">
        <div class="gift-intro">
            <div class="row">
                <div class="span2">
                    <img src="{{ producer.image.get_thumbnail_url }}">
                </div>
                <div class="span6">
                    <h4>{{ producer }}</h4>
                    <p>
                        {{ producer.description }}
                    </p>
                </div>
               
            </div>
        </div>
<div class="row">
        <div class="span12">
        	<div id="whats-new">
        		{% for product in products %}
            	<div class="whats-new-thumb-first">
					<a href="#"><img src="{{ product.image.get_180X113_url }}" alt="{{ product }}"></a>
					<p class="thumb-title"><a href="{{ product.get_absolute_url }}">{{ product }}</a></p>
				</div>
				{% endfor %}
				<div class="clear-both"></div>
                <div class="bottom-line">&nbsp;</div>
			</div>
        </div> <!-- /span12 -->
    </div> <!-- /row -->
        <!-- /#content -->
    </div>
    <!-- /span8 -->
    <div class="span4">
        <div>
            <ul class="nav">
                {% if product.productretailer_set.count > 0 %}
                <li class="nav-header">
                    Retailers
                </li>
                {% for retailer in product.productretailer_set.all %}
                <li>
                    {{ retailer }}
                </li>
                {% endfor %}
                {% endif %}
                {% if product.giftguideproduct_set.count > 0 %}
                <li class="nav-header">
                    Gift Guides
                </li>
                {% for g in product.giftguideproduct_set.all %}
                <li>
                    <a href="{{ g.giftguide.get_absolute_url }}">{{ g.giftguide }}</a>
                </li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
        <div class="social">
            <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FModernMom%2F197177430011&amp;width=292&amp;height=62&amp;show_faces=false&amp;colorscheme=light&amp;stream=false&amp;border_color&amp;header=false&amp;appId=215175268507724" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:62px;" allowTransparency="true">
            </iframe>
        </div>
        <!-- /social -->
    </div>
    <!-- /span4 -->
</div>
<!-- /row -->
{% endblock %}
